<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<title>2nd Sinatra App</title>
		<link rel='stylesheet' href='/style.css' type='text/css'>
	</head>
	
	<body>
		<%= yield %>
		
		<footer>
			<p>
				<small>Learning the <a href="http://bloc.io">Bloc.io</a> way.</small>
			</p>
		</footer>
	</body>
</html>